          body{
	background-color: #99ccff;

        }

          h1,h2{
	text-anlign:center;
	color: #007700;
	font-weight: bolder;

        }

          p{
	color: #0000aa;
	font-weight: bolder;
	font-size: 20px

        }  

          ul,li{text-decoration: underline;
	color:#0000aa;
	font-weight: bolder;
	font-size: 20px

        }
          figure{
           	text-align: center;
           	border: 3px width dashed #006600

        }

        table, td,th{
        	border: 1px  solid black;
        }