html{

    scroll-behavior: smooth;

  }

  body{

  	         background-color: #99ccff;

           }
  header, footer{

             background-color: rgba(65,105,225);
             padding: 3%;
             position: relative;
             display: flex;
             align-items: center;
             font-size: 1.5em;

            }
  .img1 ,img, p {
      float: left;
    }

  .container{

              width: 80%;
              margin-left:auto;
              margin-right:auto;
              margin-top: 20%
            }

  h1{

             font-size:3em

             }

  h2{ 
              font-size:2em 

             }

  p{
            	color: #000000;
            	font-weight: bolder;
            	font-size:1em;
              margin-top:2%;
              margin-bottom:2%;
            }  

  ul li, ol li{

              text-decoration: underline;
            	color:#000000;
            	font-weight: bolder;
            	font-size:1em;
              margin-top:2%;
              margin-bottom:2%;
             }
  .imgtexto{
              width:80%;
              height: 60;
              }

  table, td,th{

          	border: 2px  solid black;

              }

  .centro{

            text-align: center;
              
              }
  .titulos{

             text-align:center;
             color: #000000
             margin-top: 2%;
             margin-bottom: 2%;

              }
  .fixo{
              position: fixed;
              top: 0;
              right: 0;
              left: 0;
              z-index: 1030
            }
  .menu-opções{
              position: absolute;
              right: 5%;
              top: 50%;
            }
 
/* quando a tela for maior ou igual a 600px */
@media screen and (min-width: 600px) {
  .containder{
        margin-top:100%;
        max-width:70%;
     }
  .imgtexto{
        width:100%;              }
}

/* quando a tela for menor ou igual a 599px */

@media screen and (max-width: 599px){
  .containder{
        margin-top:150%;
     }
  .imgtexto{
     width: 379;
     height: 533;
              }
}

/* quando a tela for maior ou igual a 768px */
@media screen and (min-width: 768px) {
  .contaider{
    margin-top:70%;
    max-width: 70%;
   }
   header, footer{

             background-color: rgba(65,105,225);
             flex-direction: row;
             position: relative; 
           }
  .imgtexto{
            width: 379;
            height: 533;
           }
  .menu-opções{
    position: absolute;
    right: 5%;
    top: 50%;
   }
  .menu-opções ul li{
    display:inline;
    margin-left: 
   }

}

 